<div class="container-fluid">
   <div class="row">
      <div class="col-lg-12">
         <div class="panel panel-default">
            <div class="panel-body">
               <tabset>
                  <tab heading="Todas as OSs">
                     <div class="row">
                        <div class="col-lg-3 pull-right">
                           <div class="input-group m-b">
                              <a ui-sref="app.os-manter">
                                 <button class="btn btn-success">Nova OS</button>
                              </a>
                           </div>
                        </div>
                        <div class="col-lg-4 pull-right">
                           <div class="input-group">
                              <span class="input-group-addon">$</span>
                              <select name="account" class="form-control">
                                 <option>Por data limite de atendimento</option>
                                 <option>Por data de agendamento</option>
                              </select>
                           </div>
                        </div>
                        <div class="col-lg-3">
                           <button type="button" class="btn btn-pill-left btn-default">Abertas</button>
                           <button type="button" class="btn btn-pill-right btn-default">Fechadas</button>
                        </div>
                     </div>
                  </tab>
                  <tab heading="Para mim">
                     <div class="row">
                        <div class="col-lg-3 pull-right">
                           <div class="input-group m-b">
                              <a ui-sref="app.os-manter">
                                 <button class="btn btn-success">Nova OS</button>
                              </a>
                           </div>
                        </div>
                        <div class="col-lg-4 pull-right">
                           <div class="input-group">
                              <span class="input-group-addon">$</span>
                              <select name="account" class="form-control">
                                 <option>Por data limite de atendimento</option>
                                 <option>Por data de agendamento</option>
                              </select>
                           </div>
                        </div>
                        <div class="col-lg-3">
                           <button type="button" class="btn btn-pill-left btn-default">Abertas</button>
                           <button type="button" class="btn btn-pill-right btn-default">Fechadas</button>
                        </div>
                     </div>
                  </tab>
                  <tab heading="Por mim">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                     Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat , sunt in culpa qui officia deserunt mollit anim id est laborum.</tab>
               </tabset>
            </div>
         </div>
      </div>
   </div>
</div>