<div class="container-fluid">
   <div class="row">
      <div class="col-lg-12">
         <div class="panel panel-default">
            <div class="panel-body">
               <uib-tabset>
                  <uib-tab heading="Todas as OSs">
                     <tickit-os-lista></tickit-os-lista>
                  </uib-tab>
                  <uib-tab heading="Para mim">
                     <!--tickit-os-lista					-->
                  </uib-tab>
                  <uib-tab heading="Por mim">
                     <!--tickit-os-lista-->
                  </uib-tab>
               </uib-tabset>
            </div>
         </div>
      </div>
   </div>
</div>