container.container-sm
  .mt-xl
    // START panel
    //img.center-block.img-rounded(src='app/img/logo-gray.png', alt='Image')
    .col-md-4
    .col-md-4.animated.fadeInLeft2
      .panel
        .panel-body
          form(role='form').mb-lg.p
            .row
              .form-group.has-feedback.mb
                input.form-control(type='text', placeholder='Usuário', autocomplete="off", ng-model="login")
                span.fa.fa-user.form-control-feedback.text-muted
              br
              .form-group.has-feedback
                input.form-control(type='password', placeholder='Senha', ng-model="senha")
                span.fa.fa-lock.form-control-feedback.text-muted
              .form-group
                button.btn.btn-block.btn-info.mb(type='submit', ng-click="loginTickit()") Entrar

              