.container-fluid
	.row
		.col-lg-12
			.panel.panel-default
				.panel-body
					uib-tabset
						uib-tab(heading="Todas as OSs")
							tickit-os-lista
						uib-tab(heading='Para mim') 
							//tickit-os-lista					
						uib-tab(heading='Por mim')
							//tickit-os-lista
